.parent{
	background-color: red;
	display: grid;
	padding: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 100px);
	gap: 10px;
}
.header {
	grid-column: 1/-1;
	background: skyblue;
}
.nav {
	grid-row: 2/4;
	background: deepskyblue;
}
.main {
	grid-row: 2/4;
	background: white;
}
.sidebar {
	grid-row: 2/4;
	background: deepskyblue;
}
.footer {
	grid-column: 1/-1;
	background: royalblue;
}